body{
    background-color: #0a192f;
}

.icon {
    cursor: pointer;
}
.numLinks{
    color: #64ffda;
}
.link{
    color: white;
    text-decoration: underline #0a192f ;
    transition: text-decoration .3s ease-in-out;
}
.link:hover{
    text-decoration: underline #64ffda ;
}
.cv{
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px;
    color: #64ffda;

    min-width: 80px;
}
.cv:hover{
    background-color: #081c38;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.linksCon{
    display: flex;
    align-items: center;
    gap: 30px;

}


/* MOBILE SCREEN */
@media (max-width:768px) {
    .head{
        flex-direction: column;
        gap: 40px;
    }
    .icon{
        align-self: center;
    }
    .linksCon{
        justify-content: center;
    }

}