@font-face {
    font-family: 'Inter';
    src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format('truetype'),
         url('/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto/Roboto-Black.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url("/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format('truetype'),
         url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #0a192f;
}

.icon {
    cursor: pointer;
}
.numLinks{
    color: #64ffda;
    font-family: 'Inter';
}
.link{
    color: white;
    text-decoration: underline #0a192f ;
    transition: text-decoration .3s ease-in-out;
    font-family: 'Inter';

}
.link:hover{
    text-decoration: underline #64ffda ;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.linksCon{
    display: flex;
    align-items: center;
    gap: 30px;
    

}


/* MOBILE SCREEN */
@media (max-width:768px) {
    .head{
        flex-direction: column;
        gap: 40px;
    }
    .icon{
        align-self: center;
    }
    .linksCon{
        justify-content: center;
    }

}

/* INTRODUCTION */

.intro {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 55%;
    margin: auto;
    margin-top: 160px;
    margin-right: 200px;

    animation: fade-in 2s ease-in-out;
}
@keyframes fade-in {
    0%{
        opacity: .1;
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.hello{
    color: #64ffda;
    font-family: 'Inter';
}
.fname{
    color: white;
    font-family: "Roboto";

}
.fsubname,.fdescription{
    color: #8892b0;
    font-family: "Mont";
}
.fdescription{
    max-width: 55%;
}
.introBtn{
    border: 1px solid #64ffda;
    font-family: 'Inter';
    color: #64ffda;
    padding: 15px;
    max-width:25%;

    transition: .3s ease-in-out;
}
.introBtn:hover{
    background-color: #64ffda;
    color: #0a192f;
}